[submodule "middleclass"]
	path = middleclass
	url = git://github.com/kikito/middleclass.git
[submodule "middleclass-extras"]
	path = middleclass-extras
	url = git://github.com/kikito/middleclass-extras.git
